<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>

  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" 
      formControlName="title"
      placeholder="Título"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-textarea 
      formControlName="description"
      placeholder="Descripción"
      autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>

    <br>

    <ion-item *ngIf="!this.color" (click)="this.seleccionarColor()">
      <ion-icon slot="start" name="color-palette-outline"></ion-icon>
      <ion-label>Selecciona un color para la nota...</ion-label>
    </ion-item>

    <ion-item lines="none" *ngIf="this.color" (click)="this.seleccionarColor()">
      <div [ngStyle]="{'background-color': this.color}" style="width: 100%; height: 100%; border-radius: 10px;"></div>
    </ion-item>

    <br>

    <div style="text-align: right;">
      <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!tasks.valid">Añadir</ion-button>
    </div>
  </form>
</ion-content>
