<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "CONFIGURACION" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ "USUARIO" | translate }}</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-avatar slot="start">
          <img [src]="usuario.avatar">
        </ion-avatar>
        <ion-label>{{usuario.name}}</ion-label>
        <ion-button (click)="this.logout()">{{ "CERRAR_SESION" | translate }}</ion-button>
      </ion-item>

    </ion-item-group>
    
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ "GENERAL" | translate }}</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>{{ "TAMANO_FUENTE" | translate }}</ion-label>
        <ion-select okText="Ok" cancelText='{{ "CANCELAR" | translate }}' [(ngModel)]="this.tamanoFuente" (ionChange)="this.guardarTamanoFuente()">
          <ion-select-option value="Pequeno">{{ "PEQUENO" | translate }}</ion-select-option>
          <ion-select-option value="Mediano">{{ "MEDIANO" | translate }}</ion-select-option>
          <ion-select-option value="Grande">{{ "GRANDE" | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ "PANTALLA_PREDETERMINADA" | translate }}</ion-label>
        <ion-select okText="Ok" cancelText='{{ "CANCELAR" | translate }}' [(ngModel)]="this.pantallaPredeterm" (ionChange)="this.guardarPantallaPredeterm()"> 
          <ion-select-option value="Notas">{{ "NOTAS" | translate }}</ion-select-option>
          <ion-select-option value="Añadir">{{ "ANADIR" | translate }}</ion-select-option>
          <ion-select-option value="Configuración">{{ "CONFIGURACION" | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ "ORDENAR" | translate }}</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>{{ "CRITERIO_ORDENACION" | translate }}</ion-label>
        <ion-select value="Titulo" okText="Ok" cancelText='{{ "CANCELAR" | translate }}' [(ngModel)]="this.ordenacion" (ionChange)="this.guardarOrdenacion()">
          <ion-select-option value="Titulo">{{ "POR_TITULO" | translate }}</ion-select-option>
          <ion-select-option value="Descripcion">{{ "POR_DESCRIPCION" | translate }}</ion-select-option>
          <ion-select-option value="Ultima">{{ "ULTIMA_ANADIDA" | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ "COPIAS" | translate }}</ion-label>
      </ion-item-divider>

      <ion-item href="">
        <ion-label>{{ "GUARDAR_NOTAS" | translate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{ "GUARDAR_AUTO" | translate }}</ion-label>
        <ion-checkbox checked="true" [(ngModel)]="this.guardarAutomatico" (ionChange)="this.guardarGuardarAutomatico()"></ion-checkbox>
      </ion-item>
      
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ "ACERCA_DE" | translate }}</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
            <h2>{{ "VERSION" | translate }}</h2>
            <ion-note>1.0.0</ion-note>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
            <h2>{{ "CREADOR" | translate }}</h2>
            <ion-note>Francisco García Córdoba</ion-note>
        </ion-label>
      </ion-item>

      <ion-item href="https://twitter.com/Ciscu24">
        <ion-label>
            <h2>Twitter</h2>
            <ion-note>@Ciscu24</ion-note>
        </ion-label>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-item>
      
      <ion-item href="https://www.instagram.com/ciscu24/">
        <ion-label>
            <h2>Instagram</h2>
            <ion-note>ciscu24</ion-note>
        </ion-label>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-item>

    </ion-item-group>

  </ion-list>
  
</ion-content>
