<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Usuario</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-avatar slot="start">
          <img [src]="usuario.avatar">
        </ion-avatar>
        <ion-label>{{usuario.name}}</ion-label>
        <ion-button (click)="this.logout()">Cerrar Sesion</ion-button>
      </ion-item>

    </ion-item-group>
    
    <ion-item-group>
      <ion-item-divider>
        <ion-label>General</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Tamaño de fuente</ion-label>
        <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="this.tamanoFuente" (ionChange)="this.guardarTamanoFuente()">
          <ion-select-option value="Pequeno">Pequeño</ion-select-option>
          <ion-select-option value="Mediano">Mediano</ion-select-option>
          <ion-select-option value="Grande">Grande</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Pantalla predeterminada</ion-label>
        <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="this.pantallaPredeterm" (ionChange)="this.guardarPantallaPredeterm()"> 
          <ion-select-option value="Notas">Notas</ion-select-option>
          <ion-select-option value="Añadir">Añadir</ion-select-option>
          <ion-select-option value="Configuración">Configuración</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Ordenar</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Criterio de ordenación</ion-label>
        <ion-select value="Titulo" okText="Ok" cancelText="Cancelar" [(ngModel)]="this.ordenacion" (ionChange)="this.guardarOrdenacion()">
          <ion-select-option value="Titulo">Por título</ion-select-option>
          <ion-select-option value="Descripcion">Por descripción</ion-select-option>
          <ion-select-option value="Ultima">Ultima añadida</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Copias</ion-label>
      </ion-item-divider>

      <ion-item href="">
        <ion-label>Guardar notas</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Guardar automático</ion-label>
        <ion-checkbox checked="true" [(ngModel)]="this.guardarAutomatico" (ionChange)="this.guardarGuardarAutomatico()"></ion-checkbox>
      </ion-item>
      
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Acerca de</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
            <h2>Versión</h2>
            <ion-note>1.0.0</ion-note>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
            <h2>Creador</h2>
            <ion-note>Francisco García Córdoba</ion-note>
        </ion-label>
      </ion-item>

      <ion-item href="https://twitter.com/Ciscu24">
        <ion-label>
            <h2>Twitter</h2>
            <ion-note>@Ciscu24</ion-note>
        </ion-label>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-item>
      
      <ion-item href="https://www.instagram.com/ciscu24/">
        <ion-label>
            <h2>Instagram</h2>
            <ion-note>ciscu24</ion-note>
        </ion-label>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-item>

    </ion-item-group>

  </ion-list>
  
</ion-content>
