<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/LogoNotas.png" style="margin: auto; margin-top: 50px; width: 50%;"></ion-img>
  <ion-item lines="none" style="text-align: center; margin-top: 50px;">
    Bienvenido a mi aplicacion de notas, inicia sesión si aun no lo has hecho
  </ion-item>

  <div style="text-align: center;">
    <ion-button color="primary" (click)="this.login()" style="margin-top: 40px;">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      Inicia sesión
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
